* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #230005;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: absolute;
    background-color: #ac1f36;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 90%; 
    width: 100%;
    margin: auto;
}
.lastname {
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}
.click--botton {
    height: 20px;
    width: 30px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.click--line {
    height: 4px;
    background-color: #000000;
}
.content {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left {
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.name {
    font-size: 50px;
    font-weight: 700;
}
.button {
    margin-top: 20px;
    display: flex;
}
.aboutme {
    padding: 15px 30px;
    background-color: pink;
    border-radius: 5px;
    text-decoration: none;
    color: blueviolet;
    margin-right: 20px;
}
.aboutme:hover {
    background-color: black;
    color: pink;
}
.hireme:hover {
    background-color: #FFFFFF;
    color: black;
}
.hireme {
    padding: 15px 30px;
    background-color: #000000;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
}
.right {
    background-image: url(../imagens/Mike.png);
    background-position: center top;
    background-size: cover;
    background-color: ;
    width: 100%;
}
footer {

    margin-top: -50px;
}
@media (max-width:850px) {
    header {
        position: inherit;
    }
    .content {
        height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: 1fr;
    }
    .left {
        background-image: url(../imagens/Mike.png);
        background-position: center top;
        background-size: cover;
        width: 100%;
        height: 100vh;
        align-self: center;
        margin-bottom: -100px;
        text-align: center;
        
    }
    .button {
        display: flex;
        justify-content: center;
    }
    .right {
        display: none;
        margin-top: 100px;
    }
}